<%= govuk_accordion do |accordion| end %>
  <%= accordion.with_section(heading_text: "Understanding agile project management", summary_text: "Introductions, methods, core features.") do %>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Agile and government services: an introduction</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Agile methods: an introduction</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Core principles of agile</a>
      </li>
    </ul>
  <% end %>
  <%= accordion.with_section(heading_text: "Working with agile methods", summary_text: "Workspaces, tools and techniques, user stories, planning.") do %>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Creating an agile working environment</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Agile tools and techniques</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Set up a team wall</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Writing user stories</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Planning in agile</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Deciding on priorities</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Developing a roadmap</a>
      </li>
    </ul>
  <% end %>
  <%= accordion.with_section(heading_text: "Governing agile services", summary_text: "Principles, measuring progress, spending money.") do %>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Governance principles for agile service delivery</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Measuring and reporting progress</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Spend controls: check if you need approval to spend money on a service</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Spend controls: apply for approval to spend money on a service</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Spend controls: the new pipeline process</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Working across organisational boundaries</a>
      </li>
    </ul>
  <% end %>
  <%= accordion.with_section(heading_text: "Phases of an agile project", summary_text: "Discovery, alpha, beta, live and retirement.") do %>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">How the discovery phase works</a>
      </li>
      <li>
        <a class="govuk-link" href="#">How the alpha phase works</a>
      </li>
      <li>
        <a class="govuk-link" href="#">How the beta phase works</a>
      </li>
      <li>
        <a class="govuk-link" href="#">How the live phase works</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Retiring your service</a>
      </li>
    </ul>
  <% end %>
<% end %>
